<h1><%= @title = t :presences_list %></h1>
<h4><%= t "activerecord.models.event" %>: <%= @event.name %></h4>
<h4><%= t :_date %>: <datetime value="<%= @event.datetime %>" /></h4>

<%= link_to t(:back), events_path %>
<%= link_to t(:show_event), event_path(@event) %>

<div ng-controller="EventPresenceCtrl" ng-init="update_added()">
  <div class="well search-block">
    <input type="text" ng-model="member.first_name"
      placeholder="<%= t "activerecord.attributes.member.first_name" %>" />
    <input type="text" ng-model="member.last_name"
      placeholder="<%= t "activerecord.attributes.member.last_name" %>" />
    <input type="text" ng-model="member.phone"
      placeholder="<%= t "activerecord.attributes.member.phone" %>" />
    <label><%= t :_timestamp %></label>
    <input type="time" ng-model="time" />

    <table class="table-list table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t "activerecord.attributes.member.first_name" %></th>
          <th><%= t "activerecord.attributes.member.last_name" %></th>
          <th><%= t "activerecord.attributes.member.phone" %></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in members">
          <td>{{ member.first_name }}</td>
          <td>{{ member.last_name }}</td>
          <td>{{ member.phone }}</td>
          <td><%= link_to t(:show), URI::unescape(member_path("{{ member.id }}")) %></td>
          <td><a href="javascript:void(0)" ng-click="add(member)" ><%= t :add %></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3><%= t :added_members %></h3>
  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.member.first_name" %></th>
        <th><%= t "activerecord.attributes.member.last_name" %></th>
        <th><%= t "activerecord.attributes.member.phone" %></th>
        <th><%= t "activerecord.attributes.event_presence.time" %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="r" ng-repeat="r in added_members">
        <td>{{ r.member.first_name }}</td>
        <td>{{ r.member.last_name }}</td>
        <td>{{ r.member.phone }}</td>
        <td>{{ r.time }}</td>
        <td><%= link_to t(:show), URI::unescape(member_path("{{ r.member.id }}")) %></td>
        <td><a href="javascript:void(0)" ng-click="destroy(r.id)" ><%= t :destroy %></a></td>
      </tr>
    </tbody>
  </table>
</div>
