<h1><%= @title = t :adding_presence_list %></h1>
<h4><%= t "activerecord.models.group" %>: <%= @group.name %></h4>
<% if params[:list_id].present?
  @date = Time.at params[:list_id].to_f
  @date.to_formatted_s :long
  %>
  <h4><%= t :_date %>: <datetime value="<%= @date %>" /></h4>
<% end %>

<%= link_to t(:back), groups_path %>
<%= link_to t(:show_group), group_path(@group) %>
<% if params[:list_id].present? %>
  <%= link_to t(:show_list),
        controller: "group_presences",
        action: "show",
        group_id: params[:group_id],
        list_id: params[:list_id] %>
<% end %>

<div ng-controller="GroupPresenceCtrl">
  <div class="well search-block">
    <% if params[:list_id].present? %>
      <input type="hidden" ng-init="set_date(<%= params[:list_id] %>)"></input>
    <% else %>
      <label><%= t :_date %></label>
      <input type="datetime-local" ng-model="datetime" />
      <hr />
    <% end %>
    <label><%= t :members %></label>
    <input type="text" ng-model="member.first_name"
      placeholder="<%= t "activerecord.attributes.member.first_name" %>" />
    <input type="text" ng-model="member.last_name"
      placeholder="<%= t "activerecord.attributes.member.last_name" %>" />
    <input type="text" ng-model="member.pesel"
      placeholder="<%= t "activerecord.attributes.member.pesel" %>" />

    <table class="table-list table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t "activerecord.attributes.member.first_name" %></th>
          <th><%= t "activerecord.attributes.member.last_name" %></th>
          <th><%= t "activerecord.attributes.member.pesel" %></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in members">
          <td>{{ member.first_name }}</td>
          <td>{{ member.last_name }}</td>
          <td>{{ member.pesel }}</td>
          <td><%= link_to t(:show), URI::unescape(member_path("{{ member.id }}")) %></td>
          <td>
            <a href="javascript:void(0)" ng-click="add(member)" >
              <%= t :add %>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3><%= t :added_members %></h3>
  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.member.first_name" %></th>
        <th><%= t "activerecord.attributes.member.last_name" %></th>
        <th><%= t "activerecord.attributes.member.pesel" %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="r" ng-repeat="r in added_members">
        <td>{{ r.first_name }}</td>
        <td>{{ r.last_name }}</td>
        <td>{{ r.pesel }}</td>
        <td><%= link_to t(:show), URI::unescape(member_path("{{ r.member.id }}")) %></td>
        <td><a href="javascript:void(0)" ng-click="destroy(r)" ><%= t :destroy %></a></td>
      </tr>
    </tbody>
  </table>
</div>
