<h1><%= @title = t :presences_list %></h1>

<h4><%= t "activerecord.models.group" %>: <%= @group.name %></h4>
<h4><%= t :_date %>: <%= @date %></h4>

<%= link_to t(:back), groups_path %>
<%= link_to t(:show_group), group_path(@group) %>
<a href="new?list_id=<%= params[:list_id] %>"><%= t(:add_presence) %></a>

<table class="table-list table-bordered table-striped">
  <tr>
    <th><%= t "activerecord.attributes.member.first_name" %></th>
    <th><%= t "activerecord.attributes.member.last_name" %></th>
    <th><%= t "activerecord.attributes.member.phone" %></th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
      <td><%= member.phone %></td>
  <% end %>
</table>
