<div ng-controller="GroupsShowListsCtrl">
  <input type="hidden" ng-init="group_id=<%= @group.id %>" />
  <div class="alert alert-danger" ng-repeat="error in errors">
    {{ error }}
  </div>
  <div class="well search-block">
    <label><%= t :since %></label>
    <input type="datetime-local" ng-model="since" />
    <label><%= t :pending %></label>
    <input type="datetime-local" ng-model="finish" />
  </div>

  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.group_presence.datetime" %></th>
        <th><%= t :members_count %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="l in lists">
        <td><datetime value="{{ l.datetime }}" /></td>
        <td>{{ l.count }}</td>
        <td><a href="<%= params[:id] %>/presence/{{ list_id(l) }}"><%= t :show %></a></td>
      </tr>
    </tbody>
  </table>
</div>
