<h1><%= t :groups_list %></h1>

<%= link_to t(:adding_group), new_group_path %>
<%= link_to t(:disabled_groups), controller: "groups", action: "disabled" %>
<table>
  <tr>
    <th><%= t "activerecord.attributes.group.name" %></th>
    <th></th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= link_to t(:show), group_path(group) %></td>
      <td><%= link_to t(:edit), edit_group_path(group) %></td>
      <td><%= link_to t(:destroy), group_path(group),
              method: :delete,
              data: { confirm: t(:are_you_sure) } %></td>
    </tr>
  <% end %>
</table>
