<% @title = t("activerecord.models.group") + ": " + @group.name %>

<h2><%= t "activerecord.models.group" %></h2>
<%= link_to t(:back), groups_path %>
<%= link_to t(:edit_group), edit_group_path(@group) %>
<%= link_to t(:add_presence), group_presence_new_path(@group) %>
<%= link_to t(:add_group), new_group_path %>

<p>
    <%= t "activerecord.attributes.group.name" %>:
    <%= @group.name %>
</p>
<p>
    <%= t "activerecord.attributes.group.description" %>:
    <pre><%= @group.description %></pre>
</p>

<div ng-controller="GroupsShowCtrl">
  <h2><%= t :presences_lists %></h2>
  <input type="hidden" ng-init="group_id=<%= @group.id %>" />
  <div class="alert alert-danger" ng-repeat="error in errors">
    {{ error }}
  </div>
  <div class="well search-block">
    <label><%= t :since %></label>
    <input type="datetime-local" ng-model="since" />
    <label><%= t :pending %></label>
    <input type="datetime-local" ng-model="finish" />
  </div>

  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.group_presence.datetime" %></th>
        <th><%= t :members_count %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="l in lists">
        <td><datetime value="{{ l.datetime }}" /></td>
        <td>{{ l.count }}</td>
        <td><a href="<%= params[:id] %>/presence/{{ list_id(l) }}"><%= t :show %></a></td>
      </tr>
    </tbody>
  </table>
</div>
