<h2><%= t "activerecord.models.group" %></h2>
<p>
    <%= t "activerecord.attributes.group.name" %>:
    <%= @group.name %>
</p>
<p>
    <%= t "activerecord.attributes.group.description" %>:
    <%= @group.description %>
</p>

<%= link_to t(:back), groups_path %>
