<div class="form" ng-controller="LessonFormCtrl" ng-init="setup()">
  <p>
    <label><%= t "activerecord.attributes.lesson.giving_member_id" %></label>
    <input type="text" ng-model="giving_member.first_name" readonly
      placeholder="<%= t "activerecord.attributes.member.first_name" %>" />
    <input type="text" ng-model="giving_member.last_name" readonly
      placeholder="<%= t "activerecord.attributes.member.last_name" %>" />
    <input type="text" ng-model="giving_member.phone" readonly
      placeholder="<%= t "activerecord.attributes.member.phone" %>" />
  </p>

  <p>
    <label><%= t "activerecord.attributes.lesson.taking_member_id" %></label>
    <input type="text" ng-model="taking_member.first_name" readonly
      placeholder="<%= t "activerecord.attributes.member.first_name" %>" />
    <input type="text" ng-model="taking_member.last_name" readonly
      placeholder="<%= t "activerecord.attributes.member.last_name" %>" />
    <input type="text" ng-model="taking_member.phone" readonly
      placeholder="<%= t "activerecord.attributes.member.phone" %>" />
  </p>

  <div class="inline-block">
    <label><%= t "activerecord.attributes.lesson.lesson_subject_id" %></label>
    <select ng-model="lesson_subject_id">
      <option value=""><%= t "helpers.select.prompt" %></option>
      <% LessonSubject.active.each do |ls| %>
      <option value="<%= ls.id %>"><%= ls.name %></option>
      <% end %>
    </select>
  </div>

  <div class="inline-block">
    <label><%= t "activerecord.attributes.lesson.datetime" %></label>
    <input type="datetime-local" ng-model="datetime" />
  </div>

  <div class="inline-block">
    <label><%= t "activerecord.attributes.lesson.time" %></label>
    <input type="time" ng-model="time" />
  </div>

  <p>
    <input type="button" ng-click="create()"
      value="<%= t "helpers.submit.lesson.create" %>" />
  </p>

  <div class="well search-block">
    <input type="text" ng-model="member.first_name"
    placeholder="<%= t "activerecord.attributes.member.first_name" %>" />
    <input type="text" ng-model="member.last_name"
      placeholder="<%= t "activerecord.attributes.member.last_name" %>" />
    <input type="text" ng-model="member.phone"
      placeholder="<%= t "activerecord.attributes.member.phone" %>" />

    <table class="table-list table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t "activerecord.attributes.member.first_name" %></th>
          <th><%= t "activerecord.attributes.member.last_name" %></th>
          <th><%= t "activerecord.attributes.member.phone" %></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="member in members">
          <td>{{ member.first_name }}</td>
          <td>{{ member.last_name }}</td>
          <td>{{ member.phone }}</td>
          <td><%= link_to t(:show), URI::unescape(member_path("{{ member.id }}")) %></td>
          <td>
            <a href="javascript:void(0)" ng-click="set_giving_member(member)" >
              <%= t "activerecord.attributes.lesson.giving_member_id" %>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" ng-click="set_taking_member(member)" >
              <%= t "activerecord.attributes.lesson.taking_member_id" %>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
