<h1><%= @title = t :lessons %></h1>

<%= link_to t(:adding_lesson), new_lesson_path %>

<div ng-controller="LessonsIndexCtrl">

  <h3><%= t :searching %></h3>
  <div class="well search-block">
    <div class="inline-block">
      <label><%= t "activerecord.attributes.lesson.lesson_subject_id" %></label>
      <select ng-model="lesson_subject_id">
        <option value=""><%= t "helpers.select.prompt" %></option>
        <% LessonSubject.active.each do |ls| %>
        <option value="<%= ls.id %>"><%= ls.name %></option>
        <% end %>
      </select>
    </div>
    <div class="inline-block">
      <label><%= t :since %></label>
      <input type="datetime-local" ng-model="since" />
    </div>
    <div class="inline-block">
      <label><%= t :pending %></label>
      <input type="datetime-local" ng-model="finish" />
    </div>
  </div>

  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.lesson.giving_member_id" %></th>
        <th><%= t "activerecord.attributes.lesson.taking_member_id" %></th>
        <th><%= t "activerecord.attributes.lesson.lesson_subject_id" %></th>
        <th><%= t "activerecord.attributes.lesson.datetime" %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="l in lessons">
        <td>
          {{ l.giving_member.first_name }}
          {{ l.giving_member.last_name }}
          {{ l.giving_member.phone }}
        </td>
        <td>
          {{ l.taking_member.first_name }}
          {{ l.taking_member.last_name }}
          {{ l.taking_member.phone }}
        </td>
        <td>
          {{ l.lesson_subject }}
        </td>
        <td>
          {{ l.datetime }}
        </td>
        <td><%= link_to t(:show), URI::unescape(lesson_path("{{ l.id }}")) %></td>
        <td><%= link_to t(:edit), URI::unescape(edit_lesson_path("{{ l.id }}")) %></td>
        <td><%= link_to t(:destroy), URI::unescape(group_path("{{ l.id }}")),
                method: :delete,
                data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    </tbody>
  </table>
</div>
