<h1><%= t :disabled_schools %></h1>

<%= link_to t(:schools_list), schools_path %>
<table>
  <tr>
    <th><%= t "activerecord.attributes.school.name" %></th>
  </tr>

  <% @schools.each do |school| %>
    <tr>
      <td><%= school.name %></td>
      <td><%= link_to t(:restore), controller: "schools", action: "restore", id: school %></td>
    </tr>
  <% end %>
</table>
