<h1><%= t :schools_list %></h1>

<%= link_to t(:adding_school), new_school_path %>
<%= link_to t(:disabled_schools), controller: "schools", action: "disabled" %>
<hr />

<div ng-controller="SchoolsCtrl">

  <input type="text" ng-model="search_name"
    placeholder="<%= t "activerecord.attributes.school.name" %>" />

  <table>
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.school.name" %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="school in schools">
        <td>{{ school.name }}</td>
        <td><%= link_to t(:show), URI::unescape(school_path("{{ school.id }}")) %></td>
        <td><%= link_to t(:edit), URI::unescape(edit_school_path("{{ school.id }}")) %></td>
        <td><%= link_to t(:destroy), URI::unescape(school_path("{{ school.id }}")),
                method: :delete,
                data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    </tbody>
  </table>
</div>
