<div class="activity" ng-controller="MembersActivityCtrl"
  ng-init="member_id=<%= params[:id] %>">
  <div class="well search-block">
    <label>
      <%= t :groups %>
      <input type="checkbox" ng-model="search.groups">
    </label>
    <label>
      <%= t :events %>
      <input type="checkbox" ng-model="search.events">
    </label>
    <label>
      <%= t :giving_lessons %>
      <input type="checkbox" ng-model="search.giving_lessons">
    </label>
    <label>
      <%= t :taking_lessons %>
      <input type="checkbox" ng-model="search.taking_lessons">
    </label>
    <label>
      <%= t :consultations %>
      <input type="checkbox" ng-model="search.consultations">
    </label>
    <label>
      <%= t :since %>
      <input type="datetime-local" ng-model="search.since" />
    </label>
    <label>
      <%= t :pending %>
      <input type="datetime-local" ng-model="search.finish" />
    </label>
  </div>

  <div class="stats">
    <table>
      <tbody>
        <tr>
          <th scope="row">
            <%= t :attendance %>
          </th>
            <td>
              {{ activities.length }}
            </td>
        </tr>
        <tr>
          <th scope="row">
            <%= t :number_of_hours %>
          </th>
            <td>
              {{ number_of_hours }}
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t :name %></th>
        <th><%= t :_date %></th>
        <th><%= t :_timestamp %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="a in activities | orderBy:'-datetime'">
        <td>{{ a.name }}</td>
        <td><datetime value="{{ a.datetime }}" /></td>
        <td><time value="{{ a.time }}" /></td>
        <td><a href="{{ a.url }}"><%= t :show %></a></td>
      </tr>
    </tbody>
  </table>
</div>
