<div ng-controller="MembersActivityCtrl"
  ng-init="search.member_id=<%= params[:id] %>">
  <div class="well search-block">
    <label>
      <%= t :groups %>
      <input type="checkbox" ng-model="search.groups">
    </label>
    <label>
      <%= t :events %>
      <input type="checkbox" ng-model="search.events">
    </label>
    <label>
      <%= t :lessons %>
      <input type="checkbox" ng-model="search.lessons">
    </label>
    <label>
      <%= t :consultations %>
      <input type="checkbox" ng-model="search.consultations">
    </label>
    <label>
      <%= t :since %>
      <input type="datetime-local" ng-model="search.since" />
    </label>
    <label>
      <%= t :pending %>
      <input type="datetime-local" ng-model="search.finish" />
    </label>
  </div>

  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.event.name" %></th>
        <th><%= t "activerecord.attributes.event.event_category_id" %></th>
        <th><%= t "activerecord.attributes.event.datetime" %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events">
        <td>{{ event.name }}</td>
        <td>{{ event.category }}</td>
        <td><datetime value="{{ event.datetime }}" /></td>
        <td><%= link_to t(:show), URI::unescape(event_path("{{ event.id }}")) %></td>
        <td><%= link_to t(:edit), URI::unescape(edit_event_path("{{ event.id }}")) %></td>
        <td><%= link_to t(:presences_list), URI::unescape(event_presence_path("{{ event.id }}")) %></td>
        <td><%= link_to t(:destroy), URI::unescape(event_path("{{ event.id }}")),
                  method: :delete,
                  data: { confirm: t(:are_you_sure) } %></td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
