<%= form_for @member do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t :error, count: @member.errors.count %>
      </h2>
      <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :pesel %><br>
    <%= f.number_field :pesel %>
  </p>
  <p>
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :house_number %><br>
    <%= f.text_field :house_number %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :school_id %><br>
    <%= f.collection_select :school_id, School.active, :id, :name, prompt: true %>
  </p>
  <p>
    <%= f.label :work %><br>
    <%= f.text_field :work %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </p>
  <p>
    <%= f.label :fathers_phone %><br>
    <%= f.number_field :fathers_phone %>
  </p>
  <p>
    <%= f.label :mothers_phone %><br>
    <%= f.number_field :mothers_phone %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
