
<h1><%= t :disabled_members %></h1>

<%= link_to t(:members_list), members_path %>
<table>
  <tr>
    <th><%= t "activerecord.attributes.member.first_name" %></th>
    <th><%= t "activerecord.attributes.member.last_name" %></th>
    <th><%= t "activerecord.attributes.member.pesel" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
      <td><%= member.pesel %></td>
      <td><%= link_to t(:restore), controller: "members", action: "restore", id: member %></td>
    </tr>
  <% end %>
</table>
