
<h1><%= t :members_list %></h1>

<%= link_to t(:adding_member), new_member_path %>
<%= link_to t(:disabled_members), controller: "members", action: "disabled" %>
<table>
  <tr>
    <th><%= t "activerecord.attributes.member.first_name" %></th>
    <th><%= t "activerecord.attributes.member.last_name" %></th>
    <th><%= t "activerecord.attributes.member.pesel" %></th>
    <th><%= t "activerecord.attributes.member.city" %></th>
    <th><%= t "activerecord.attributes.member.school" %></th>
    <th><%= t "activerecord.attributes.member.phone" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.first_name %></td>
      <td><%= member.last_name %></td>
      <td><%= member.pesel %></td>
      <td><%= member.city %></td>
      <td><%= member.school.name %></td>
      <td><%= member.phone %></td>
      <td><%= link_to t(:show), member_path(member) %></td>
      <td><%= link_to t(:edit), edit_member_path(member) %></td>
      <td><%= link_to t(:destroy), member_path(member),
              method: :delete,
              data: { confirm: t(:are_you_sure) } %></td>
    </tr>
  <% end %>
</table>
