<% @title = t :members_list %>
<h1><%= t :members_list %></h1>

<%= link_to t(:adding_member), new_member_path %>
<%= link_to t(:disabled_members), controller: "members", action: "disabled" %>


<div ng-controller="MembersCtrl">

  <h3><%= t :searching %></h3>
  <div class="well search-block">
    <input type="text" ng-model="member.first_name"
      placeholder="<%= t "activerecord.attributes.member.first_name" %>" />
    <input type="text" ng-model="member.last_name"
      placeholder="<%= t "activerecord.attributes.member.last_name" %>" />
    <input type="text" ng-model="member.pesel"
      placeholder="<%= t "activerecord.attributes.member.pesel" %>" />
    <input type="text" ng-model="member.city"
      placeholder="<%= t "activerecord.attributes.member.city" %>" />
    <input type="text" ng-model="member.phone"
      placeholder="<%= t "activerecord.attributes.member.phone" %>" />
  </div>

  <table class="table-list table-bordered table-striped">
    <thead>
      <tr>
        <th><%= t "activerecord.attributes.member.first_name" %></th>
        <th><%= t "activerecord.attributes.member.last_name" %></th>
        <th><%= t "activerecord.attributes.member.pesel" %></th>
        <th><%= t "activerecord.attributes.member.city" %></th>
        <th><%= t "activerecord.attributes.member.phone" %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="member in members">
        <td>{{ member.first_name }}</td>
        <td>{{ member.last_name }}</td>
        <td>{{ member.pesel }}</td>
        <td>{{ member.city }}</td>
        <td>{{ member.phone }}</td>
        <td><%= link_to t(:show), URI::unescape(member_path("{{ member.id }}")) %></td>
        <td><%= link_to t(:edit), URI::unescape(edit_member_path("{{ member.id }}")) %></td>
        <td><%= link_to t(:destroy), URI::unescape(member_path("{{ member.id }}")),
                method: :delete,
                data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    </tbody>
  </table>
</div>
