<div>
  <h2><%= @title = "#{@member.first_name} #{@member.last_name}" %></h2>

  <%= link_to t(:back), members_path %>
  <%= link_to t(:add_member), new_member_path %>
  <%= link_to t(:edit_member), edit_member_path(@member) %>
</div>

<div class="hideable">
  <h3 class="hideable-header"><%= t :member_info %></h3>
  <div class="hideable-content">
    <%= render "info" %>
  </div>
</div>

<div class="hideable">
  <h3 class="hideable-header"><%= t :activity %></h3>
  <div class="hideable-content">
    <%= render "activity" %>
  </div>
</div>
