<div>
  <h2><%= @title = @member.full_name %></h2>

  <%= link_to t(:back), members_path %> |
  <%= link_to t(:add_member), new_member_path %> |
  <%= link_to t(:edit_member), edit_member_path(@member) %>
</div>

<%= hideable t(:member_info), render("info") %>
<%= hideable t(:recommendations), render(template: "recommendations/index") %>
<%= hideable t(:contracts), render(template: "contracts/index") %>
<%= hideable t(:activity), render("activity") %>
